<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750577197009-s19u15l4bdl53qc0beqk72f3784kvlf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750577197009-s19u15l4bdl53qc0beqk72f3784kvlf0</string>
	<key>API_KEY</key>
	<string>AIzaSyBxljMbelQD68ik0hz1GsYUQBW4CNKgMOM</string>
	<key>GCM_SENDER_ID</key>
	<string>750577197009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mockup.test.MockupTest</string>
	<key>PROJECT_ID</key>
	<string>mockup-test-46406</string>
	<key>STORAGE_BUCKET</key>
	<string>mockup-test-46406.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750577197009:ios:1be63f6a17cd645ef50af0</string>
</dict>
</plist>